/* Universal Styles + Resets */

:root {
  --main-bg-color: hsl(210, 17%, 9%);
  --secondary-bg-color: hsl(210, 20%, 33%);
  --tertiary-bg-color: hsl(131, 100%, 35%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background-color: var(--main-bg-color);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
}

.modal-overlay {
  background-color: hsla(0, 0%, 0%, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.modal-box {
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
  left: 50%;
  min-width: 50%;
  padding: 3rem;
  position: fixed;
  transform: translateX(-50%);
  z-index: 100;
}

.closed {
  display: none;
}

.btn {
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5em;
}

.btn--primary {
  background-color: var(--tertiary-bg-color);
  color: white;
  margin-bottom: 1rem;
}

.btn--primary:hover {
  filter: brightness(0.8);
}

.library {
  display: flex;
  gap: 1rem;
}

.library__card {
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
