/* Universal Styles + Resets */

:root {
  --main-bg-color: hsl(210, 17%, 9%);
  --extra-light-neutral: hsl(210, 50%, 87%);
  --light-neutral: hsl(210, 30%, 78%);
  --mid-neutral: hsl(210, 17%, 60%);
  --dark-neutral: hsl(210, 20%, 33%);
  --green-color: hsl(131, 100%, 35%);
  --light-green-color: hsl(131, 100%, 85%);
  --alert-color: hsl(5, 100%, 46%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background-color: var(--main-bg-color);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
}

.font-xl {
  font-size: 1.25rem;
}

.modal-overlay {
  background-color: hsla(0, 0%, 0%, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.modal-box {
  background-color: var(--dark-neutral);
  border-radius: 5px;
  left: 50%;
  min-width: 50%;
  padding: 3rem;
  position: fixed;
  text-align: center;
  transform: translateX(-50%);
  z-index: 100;
}

.closed {
  display: none;
}

.btn {
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5em;
}

.btn--primary {
  background-color: var(--green-color);
  color: white;
  margin-bottom: 1rem;
}

.btn--primary:hover {
  filter: brightness(0.8);
}

.btn--delete {
  background-color: var(--mid-neutral);
  color: var(--extra-light-neutral);
  letter-spacing: 1px;
  font-size: 0.875rem;
  font-weight: bold;
  margin: 0 auto;
}

.btn--delete:hover {
  background-color: var(--alert-color);
  color: white;
}

.grid {
  align-items: center;
  display: grid;
  grid-template-columns: max-content max-content;
  row-gap: 0.5rem;
  column-gap: 5px;
  justify-content: center;
  margin-bottom: 1rem;
}

.grid label {
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
}

input[type=text] {
  background-color: var(--extra-light-neutral);
  border: none;
  border-radius: 2px;
  padding: 0.5rem;
}

input[type=text]:focus {
  background-color: white;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  outline: none;
}

.toggle-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

input[type="checkbox"].toggle {
  left: -9000px;
  opacity: 0;
  position: absolute;
  top: -9000px;
}

input[type="checkbox"].toggle + label {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  position: relative;
}

input[type="checkbox"].toggle + label::after {
  content: "";
  width: 3em;
  height: 1.5em;
  background-color: var(--mid-neutral);
  border-radius: 1.5em;
  margin-left: .25em;
}

input[type="checkbox"].toggle:checked + label::after {
  background-color: var(--light-green-color);
}

input[type="checkbox"].toggle + label::before {
  content: "";
  width: 1.3em;
  height: 1.3em;
  right: 1.5em;
  background-color: var(--dark-neutral);
  border-radius: 1em;
  position: absolute;
  transform: translateX(0%);
}

input[type="checkbox"].toggle:checked + label::before {
  right: 0.2em;
  background-color: var(--green-color);
}

.library {
  display: flex;
  gap: 1rem;
}

.library__card {
  background-color: var(--dark-neutral);
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 200px;
}
